#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #1565c0;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.flyoutLinks {
  padding: 28px 28px 5px 28px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  transition: all .20s ease-in;
  margin: auto;
  transition: all .20 ease-in
}
.flyoutLinks:hover {
  transform: scale3d(1.2,1,1)
}


/* .flyoutLinks:hover {
  border-bottom: 8px solid #eb1c24;
} */

